body {
    margin: 0;
    background-color: #1d23ab;
    padding: 0;
}

.menuitems {
    float: right;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.cornerbadge {
    float: left;
}

.cornerbadge a{
    font-size: 28px;
    padding: 14px;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    width: 400px;
}
   
.menuitems a {
  display: block;
  color: black;
  text-align: center;
  padding: 18px;
  text-decoration: none;
  width: 200px;
}

.menuitems a:hover {
  background-color: #111111;
}

.aboutme {
    background-color: #333333;
    float: none;
    margin: 50px 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.AMRow {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 30px;
    overflow: hidden;
    text-align: center;
}

.AMCol {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    align-items: center;
    text-align: center;
}

.AMDImg {
    list-style-type: none;
    display: block;
}

.AMDTitle {
    font-size: 18px;
    list-style-type: none;
    display: block;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 10px;
    color: white;
}

.AMDDet {
    list-style-type: none;
    margin-top: 10px;
    display: inline-block;
    width: 60%;
    color: white;
    border: 2px solid white;
}

.BioList {
    list-style-type: none;
    display: block;
    overflow: hidden;
}

.BioPic {
    display: block;
    text-align: center;
    }
    
.BioPicAct{
    width: 600px;
    height:300px;
    padding-bottom: 30px;
}

.BioDet {
    display: block;
    text-align: center;
    font-size: 20px;
    color: white;
}

.Bio {
    background-color: #333333;
    padding: 200px;
    padding-top: 50px;
    padding-bottom:50px;
}

.BottomBar{
    background-color: white;
    
}